/* square solid legend */
/* basic positioning */
.legendSquared { 
    list-style: none; 
    padding: 0px !important;
}
.legendSquared p{
    float: left; 
    margin-right: 10px;
    margin-bottom: 0px !important; 
}
.legendSquared span { 
    /* float: left;  */
    /* padding-left: 4px; */
    width: 18px; 
    height: 14px;
    margin:2px;
    border-radius:2px;
}
/* your colors */
.legendSquared .done { 
    background-color: #084f00; 
}
.legendSquared .wip { 
    background-color: #d1ca04; 
}
.legendSquared .hold { 
    background-color: #eda200; 
}
.legendSquared .cancelled { 
    background-color: #d40000; 
}



/* circle solid legend */
/* basic positioning */
.legendCircle { 
    list-style: none; 
    padding: 0px !important;
}
.legendCircle p{ 
    float: left;
    margin-right: 10px; 
    margin-bottom: 0px !important; 
}
.legendCircle span { 
    float: left; 
    width: 14px; 
    height: 14px; 
    margin: 2px 4px 0 0px;
    border-radius: 50%;
}
/* your colors */
.legendCircle .next10 { 
    background-color: #54a0ff; 
    color:#54a0ff;
}
.legendCircle .next5 { 
    background-color: #5f27cd; 
    color:#5f27cd;
}
.legendCircle .over { 
    background-color: #ee5253; 
    color:#ee5253;
}



/* square bordered legend */
/* basic positioning */
.legendBordered { 
    list-style: none; 
    padding: 0px !important;
}
.legendBordered p{ 
    float: left; 
    margin-right: 10px;
    margin-bottom: 0px !important;  
}
.legendBordered span { 
    /* float: left;  */
    /* padding: 0px 0px 8px 3px; */
    width: 18px; 
    height: 14px; 
    margin: 2px; 
    border-radius:2px;
}
/* your colors */
.legendBordered .satisfied { 
    border: 2px solid #084f00;
}
.legendBordered .helped { 
    border: 2px solid #eda200;
}
.legendBordered .unsatisfied { 
    border: 2px solid #d40000; 
}
.legendFont{
    font-size: 11px;
}
