.badge-milestone {
    padding: 0px 8px;
    background: #f5222d;
    margin-right: 5px;
    border-radius: 3px;
}

.badge-review {
    padding: 0px 4px;
    background: #22f568;
    margin-right: 5px;
    border-radius: 10px;
}